<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/43a4458158.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/realme.css">
    <link rel="stylesheet" href="/css/resp.css">
    <link rel="stylesheet" href="/css/loginModal.css">
    <link rel="stylesheet" href="/css/loginSignUpresp.css">
    <title>E-commerce</title>
</head>

<body>
<div class="navbar">

    <nav class="navigation h-nav-resp max-width-1 m-auto">
        <!-- <div class="nav-left v-class-resp"> -->
        <div class="nav-left">
            <a class="sixty" th:href="@{/myOrders/{sno}(sno=${sno})}">
                <span style="color: greenyellow;">MyOrders</span>
            </a>
            <div class="fifty v-class-resp">
                <ul>
                    <li><a th:href="@{/{sno}(sno=${sno})}">Home</a></li>
<!--                    <li><a href="#2-section">Products</a></li>-->
                    <li><a th:href="@{/contact/{sno}(sno=${sno})}">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-right">
            <div class="thirty">
                <input style="display:none" th:value="${sno}" id="unique">
                <form action="" id="search">
                    <input id="searchInput" type="text" class="form-input" name="query" placeholder="Article Search"
                           onchange="openPage()">
                    <button class="btn">Search</button>
                </form>
            </div>

            <!-- <div class="buttons v-class-resp">
              <a href="/login"><button class="btn">Login</button></a>
              <button class="btn">Sign Up</button>s
            </div> -->
            <div class="buttons v-class-resp">


                <button class="btn" id="myBtn">Login</button>

                <div id="myModal" class="modal">


                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div class="eighty">
                            <h1>Log in to Your Account</h1>

                            <form action="/login" method="POST">
                                <div class="box">
                                    <i class="fa fa-envelope"></i>
                                    <input type="text" name="email" id="email" placeholder="Enter your email">
                                </div>
                                <div class="box">
                                    <i class="fa fa-key"></i>
                                    <input type="password" name="password" id="password" placeholder="Enter your password">
                                </div>
                                <div class="hundred">
                                    <input type="checkbox" name="myeligibility"><p class="ninety"> Keep me logged in for 30 days</p>
                                </div>
                                <button class="btn">Log In</button>
                            </form>
                        </div>
                    </div>
                </div>

                <button class="btn" id="myBtn1">Sign Up</button>

                <div id="myModal1" class="modal">

                    <div class="modal-content" style="height: 575px;">
                        <span class="close">&times;</span>
                        <div class="eighty">
                            <h1>Sign Up</h1>
                            <small>Please fill in this form to create an account!</small>

                            <form action="/signUp" method="POST">
                                <div class="box">
                                    <i class="fa fa-user"></i>
                                    <input type="text" name="name" id="name" placeholder="Name">
                                </div>
                                <div class="box">
                                    <i class="fa fa-envelope"></i>
                                    <input type="text" name="email" id="email" placeholder="Email">
                                </div>
                                <div class="box">
                                    <i class="fa fa-key"></i>
                                    <input type="password" name="password" id="password" placeholder="Password">
                                </div>
                                <div class="box">
                                    <i class="fa fa-key"></i>
                                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
                                </div>
                                <div class="hundred">
                                    <input type="checkbox" name="myeligibility"><p class="ninety"> I accept the <span style="color: rgb(53, 53, 240);">Terms of Use</span> and <span style="color:rgb(53, 53, 240) ;">Privacy Policy</span></p>
                                </div>
                                <button class="btn">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="forty v-class-resp">
                <a th:href="@{/cart/{sno}(sno=${sno})}"><img class="cart" src="/images/cart.png" alt="logo" width="30px" height="30px"></a>
            </div>

            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

        </div>
    </nav>
</div>

<div class="container">
    <h1 class="max-width-2 m-auto">Showing results for "acer laptops".</h1>

    <div class="first max-width-2">
        <a th:href="@{/acerpredator/{sno}(sno=${sno})}">

            <img style="height: 200px; margin-top: 50px;" alt="Acer Predator Helios 300 Core i7 10th Gen - (16 GB/1 TB HDD/256 GB SSD/Windows 10 Home/6 GB Graphics/N..." src="https://rukminim1.flixcart.com/image/312/312/k9loccw0/computer/4/f/w/acer-na-gaming-laptop-original-imafrcpya8phvptc.jpeg?q=70">

            <div class="specification">
                <h2 class="Heading">Acer Predator Helios 300 Core i7 10th Gen - (16 GB/1 TB HDD/256 GB SSD/Windows 10 Home/6 GB Graphics/N...</h2>
                <div class="_3LWZlK">
                    <h3 style="display: inline-block;">4.4</h3>
                    <img style="width: 13px; height:13px; padding-top: 2px;"
                         src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg==">
                </div>
                <span><span>3,86,235 Ratings&nbsp;</span><span>&amp;</span><span>&nbsp;26,127 Reviews</span></span>
                <div style="margin-top: 10px;">
                    <ul class="_1xgFaf">
                        <li>Intel Core i7 Processor (10th Gen)</li>
                        <li>16 GB DDR4 RAM</li>
                        <li>64 bit Windows 10 Operating System</li>
                        <li>1 TB HDD|256 GB SSD</li>
                        <li>39.62 cm (15.6 inch) Display</li>
                        <li>PredatorSense, Acer Product Registration, Acer Care Center, Acer Collection, Quick Access</li>
                        <li>1 Year International Travelers Warranty (ITW)</li>
                    </ul>
                </div>
        </a>
    </div>

    <div class="price">
        <div class="_30jeq3_1_WHN1">₹67,499</div>
        <div>
            <div class="_3I9_wc_27UcVY">₹78,999</div>
            <div class="_3Ay6Sb"><span>14% off</span></div>
        </div>
    </div>

</div>

<hr class="max-width-2 m-auto">
<div class="first max-width-2">

    <img style="height: 200px; margin-top: 50px;" alt="Acer Aspire 7 Core i5 9th Gen - (8 GB/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA GeForce GTX 1650..." src="https://rukminim1.flixcart.com/image/312/312/kcc9q4w0/computer/h/t/g/acer-na-gaming-laptop-original-imafthr8aa4rsjpn.jpeg?q=70">

    <div class="specification">
        <h2 class="Heading">Acer Aspire 7 Core i5 9th Gen - (8 GB/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA GeForce GTX 1650...</h2>
        <div class="_3LWZlK">
            <h3 style="display: inline-block;">4.4</h3>
            <img style="width: 13px; height:13px; padding-top: 2px;"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg==">
        </div>
        <span><span>3,86,235 Ratings&nbsp;</span><span>&amp;</span><span>&nbsp;26,127 Reviews</span></span>
        <div style="margin-top: 10px;">
            <ul class="_1xgFaf">
                <li>Intel Core i7 Processor (10th Gen)</li>
                <li>16 GB DDR4 RAM</li>
                <li>64 bit Windows 10 Operating System</li>
                <li>1 TB HDD|256 GB SSD</li>
                <li>39.62 cm (15.6 inch) Display</li>
                <li>PredatorSense, Acer Product Registration, Acer Care Center, Acer Collection, Quick Access</li>
                <li>1 Year International Travelers Warranty (ITW)</li>
            </ul>
        </div>
    </div>

    <div class="price">
        <div class="_30jeq3_1_WHN1">₹67,499</div>
        <div>
            <div class="_3I9_wc_27UcVY">₹78,999</div>
            <div class="_3Ay6Sb"><span>14% off</span></div>
        </div>
    </div>

</div>

<hr class="max-width-2 m-auto">
<div class="first max-width-2">

    <img style="height: 200px; margin-top: 50px;" alt="Acer Nitro 5 Core i7 10th Gen - (8 GB/1 TB HDD/256 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA GeForce..." src="https://rukminim1.flixcart.com/image/312/312/kh0vonk0/computer/y/z/z/acer-original-imafx4uppchbwbys.jpeg?q=70">

    <div class="specification">
        <h2 class="Heading">Acer Nitro 5 Core i7 10th Gen - (8 GB/1 TB HDD/256 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA GeForce...</h2>
        <div class="_3LWZlK">
            <h3 style="display: inline-block;">4.4</h3>
            <img style="width: 13px; height:13px; padding-top: 2px;"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg==">
        </div>
        <span><span>3,86,235 Ratings&nbsp;</span><span>&amp;</span><span>&nbsp;26,127 Reviews</span></span>
        <div style="margin-top: 10px;">
            <ul class="_1xgFaf">
                <li>Intel Core i7 Processor (10th Gen)</li>
                <li>16 GB DDR4 RAM</li>
                <li>64 bit Windows 10 Operating System</li>
                <li>1 TB HDD|256 GB SSD</li>
                <li>39.62 cm (15.6 inch) Display</li>
                <li>PredatorSense, Acer Product Registration, Acer Care Center, Acer Collection, Quick Access</li>
                <li>1 Year International Travelers Warranty (ITW)</li>
            </ul>
        </div>
    </div>

    <div class="price">
        <div class="_30jeq3_1_WHN1">₹67,499</div>
        <div>
            <div class="_3I9_wc_27UcVY">₹78,999</div>
            <div class="_3Ay6Sb"><span>14% off</span></div>
        </div>
    </div>

</div>
<hr class="max-width-2 m-auto">

<div class="first max-width-2">

    <img style="height: 200px; margin-top: 50px;" alt="Acer Predator Helios 300 Core i7 10th Gen - (16 GB/1 TB HDD/256 GB SSD/Windows 10 Home/6 GB Graphics/N..." src="https://rukminim1.flixcart.com/image/312/312/k9loccw0/computer/4/f/w/acer-na-gaming-laptop-original-imafrcpya8phvptc.jpeg?q=70">

    <div class="specification">
        <h2 class="Heading">Acer Predator Helios 300 Core i7 10th Gen - (16 GB/1 TB HDD/256 GB SSD/Windows 10 Home/6 GB Graphics/N...</h2>
        <div class="_3LWZlK">
            <h3 style="display: inline-block;">4.4</h3>
            <img style="width: 13px; height:13px; padding-top: 2px;"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg==">
        </div>
        <span><span>3,86,235 Ratings&nbsp;</span><span>&amp;</span><span>&nbsp;26,127 Reviews</span></span>
        <div style="margin-top: 10px;">
            <ul class="_1xgFaf">
                <li>Intel Core i7 Processor (10th Gen)</li>
                <li>16 GB DDR4 RAM</li>
                <li>64 bit Windows 10 Operating System</li>
                <li>1 TB HDD|256 GB SSD</li>
                <li>39.62 cm (15.6 inch) Display</li>
                <li>PredatorSense, Acer Product Registration, Acer Care Center, Acer Collection, Quick Access</li>
                <li>1 Year International Travelers Warranty (ITW)</li>
            </ul>
        </div>
    </div>

    <div class="price">
        <div class="_30jeq3_1_WHN1">₹67,499</div>
        <div>
            <div class="_3I9_wc_27UcVY">₹78,999</div>
            <div class="_3Ay6Sb"><span>14% off</span></div>
        </div>
    </div>

</div>

<hr class="max-width-2 m-auto">

<div class="first max-width-2">

    <img style="height: 200px; margin-top: 50px;" alt="Acer Aspire 7 Core i5 9th Gen - (8 GB/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA GeForce GTX 1650..." src="https://rukminim1.flixcart.com/image/312/312/kcc9q4w0/computer/h/t/g/acer-na-gaming-laptop-original-imafthr8aa4rsjpn.jpeg?q=70">

    <div class="specification">
        <h2 class="Heading">Acer Aspire 7 Core i5 9th Gen - (8 GB/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA GeForce GTX 1650...</h2>
        <div class="_3LWZlK">
            <h3 style="display: inline-block;">4.4</h3>
            <img style="width: 13px; height:13px; padding-top: 2px;"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg==">
        </div>
        <span><span>3,86,235 Ratings&nbsp;</span><span>&amp;</span><span>&nbsp;26,127 Reviews</span></span>
        <div style="margin-top: 10px;">
            <ul class="_1xgFaf">
                <li>Intel Core i7 Processor (10th Gen)</li>
                <li>16 GB DDR4 RAM</li>
                <li>64 bit Windows 10 Operating System</li>
                <li>1 TB HDD|256 GB SSD</li>
                <li>39.62 cm (15.6 inch) Display</li>
                <li>PredatorSense, Acer Product Registration, Acer Care Center, Acer Collection, Quick Access</li>
                <li>1 Year International Travelers Warranty (ITW)</li>
            </ul>
        </div>
    </div>

    <div class="price">
        <div class="_30jeq3_1_WHN1">₹67,499</div>
        <div>
            <div class="_3I9_wc_27UcVY">₹78,999</div>
            <div class="_3Ay6Sb"><span>14% off</span></div>
        </div>
    </div>

</div>

<hr class="max-width-2 m-auto">

<div class="first max-width-2">

    <img style="height: 200px; margin-top: 50px;" alt="Acer Nitro 5 Core i7 10th Gen - (8 GB/1 TB HDD/256 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA GeForce..." src="https://rukminim1.flixcart.com/image/312/312/kh0vonk0/computer/y/z/z/acer-original-imafx4uppchbwbys.jpeg?q=70">

    <div class="specification">
        <h2 class="Heading">Acer Nitro 5 Core i7 10th Gen - (8 GB/1 TB HDD/256 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA GeForce...</h2>
        <div class="_3LWZlK">
            <h3 style="display: inline-block;">4.4</h3>
            <img style="width: 13px; height:13px; padding-top: 2px;"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg==">
        </div>
        <span><span>3,86,235 Ratings&nbsp;</span><span>&amp;</span><span>&nbsp;26,127 Reviews</span></span>
        <div style="margin-top: 10px;">
            <ul class="_1xgFaf">
                <li>Intel Core i7 Processor (10th Gen)</li>
                <li>16 GB DDR4 RAM</li>
                <li>64 bit Windows 10 Operating System</li>
                <li>1 TB HDD|256 GB SSD</li>
                <li>39.62 cm (15.6 inch) Display</li>
                <li>PredatorSense, Acer Product Registration, Acer Care Center, Acer Collection, Quick Access</li>
                <li>1 Year International Travelers Warranty (ITW)</li>
            </ul>
        </div>
    </div>

    <div class="price">
        <div class="_30jeq3_1_WHN1">₹67,499</div>
        <div>
            <div class="_3I9_wc_27UcVY">₹78,999</div>
            <div class="_3Ay6Sb"><span>14% off</span></div>
        </div>
    </div>

</div>

</div>

<footer>
    <p class="text-footer">
        Copyright &copy; 2021 - All rights reserved.
    </p>
</footer>

<!-- <script src="static/js/app.js"></script> -->
<script src="/js/realmeMobiles.js"></script>
</body>

</html>