@media screen and (max-width: 1420px){
    .burger{
      display: block;
  }

  .navigation{
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      height: 200px;
      transition: all 0.7s ease-out;
  }

  .nav-left{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
  }

  /* .ordered{
      border: 2px solid red;
  } */

  .nav-right{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .section-1{
        display: none;
    }

    .featured{
        flex-wrap: wrap;
    }

    .sub-section-4{
        flex-direction: column;
    }
    
    .thirty{
        text-align: center;
    }

    #searchInput{
        width: 65%;
    }

    /* hamburger */
    .h-nav-resp{
     height: 150px;
  }
  
    .v-class-resp{
     display: none;
  }
}